{% extends "home/index.html" %}


    {% block hero %}
      
    {% endblock %}
    {% block body %}

    <div class="flex flex-wrap relative w-full h-[100vh] ">
        <div class="flex flex-wrap absolute top-0 left-0 px-4 py-6 w-auto gap-4 ">
            {% for personaggio in personaggi %}

                <div class=" mx-auto flex flex-col w-[200px]">
    
                    <img class=" object-cover rounded-md h-[300px] w-[200px] " src="{{ personaggio.img.url }}" alt="immagine: {{ personaggio.nome }}"  >
                    
                    <a href="{{ personaggio.get_absolute_url }}"><p class="mt-1 text-gray-500">{{ personaggio.nome }}</p></a>
                    
            
                </div>
          
            {% endfor %}
        </div>
        <!-- <button id="prev"class="absolute w-10 h-10 bg-slate-500 translate-y-[-50%] top-1/2 left-2"></button>
        <button id="next"class="absolute w-10 h-10 bg-slate-500 translate-y-[-50%] top-1/2 right-2"></button> -->
    </div>
    {% endblock %}  
    