{% extends "home/index.html" %}
{% load static %}

    {% block hero %}
      
    {% endblock %}
    {% block body %}
    <div>
        <form class="flex flex-row justify-center gap-3 ">
            <input type="checkbox"  name="fase1" value="fase 1">
            <label for="fase1">Fase 1</label>
            <input type="checkbox" name="fase2" value="fase 2">
            <label for="fase2">Fase 2</label>
            <input type="checkbox"  name="fase3" value="fase 3">
            <label for="fase3">Fase 3</label>
            
          </form>
    </div>
    <div class="flex flex-wrap relative w-full h-[100vh] ">
        <div class="flex flex-wrap absolute top-0 left-0 px-4 py-6 w-auto gap-4 ">
            {% for film in films %}
                <div class=" mx-auto flex flex-col w-[200px]">
                <a href="{{ film.get_absolute_url }}">
                    {% if film.img.url %}
                        <img class=" object-cover rounded-md h-[300px] w-[200px] " src="{{ film.img.url }}" alt="immagine: {{ film.nome }}"  >
                    
                    {% else %}
                    <img class=" object-cover rounded-md h-[300px] w-[200px] " src="{% static 'media/image/notfound.jpg' %}" alt="immagine: {{ film.nome }}"  >
                    {% endif %}
                        <p class="mt-1 text-sm text-gray-500">{{ film.nome }}</p>
                    </a>  
                    {% for protagonista in film.protagonisti.all %}
                        {% if forloop.counter < 3 %}
                            <p class="mt-1 text-sm text-gray-500">{{ protagonista }}</p>
                        {% endif %}
                    {% endfor %}
                    
            
                </div>
          
            {% endfor %}
        </div>
        <!-- <button id="prev"class="absolute w-10 h-10 bg-slate-500 translate-y-[-50%] top-1/2 left-2"></button>
        <button id="next"class="absolute w-10 h-10 bg-slate-500 translate-y-[-50%] top-1/2 right-2"></button> -->
    </div>
   
    {% endblock %}