<!--Footer container-->
<footer class="text-center text-white" style="background-color: #0a4275">
    <div class=" p-6 flex flex-col sm:flex-row sm:gap-x-12 justify-center ">
        <!-- <div class=""> -->
            <a href="{% url 'home:HomeView' %}" class="text-xl ">Home</a>
            <a href="{% url 'personaggi:PersonaggiList' %}" class="text-xl  ">Personaggi</a>
            <a href="{% url 'productions:ProductionsList' %}" class="text-xl">Produzioni</a>
            <a href="{% url 'admin:index' %}" class=" text-sm ont-semibold">Log in <span aria-hidden="true">&rarr;</span></a>
          <!-- </div> -->
            <!-- <div class="sm:flex lg:flex-1 sm:justify-end"> -->
              <!-- <a href="{% url 'admin:index' %}" class=" text-sm ont-semibold">Log in <span aria-hidden="true">&rarr;</span></a>
            </div> -->
        
     
    </div>

    <!--Copyright section-->
    <div
      class="p-4 text-center"
      style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <span>Created By Youssef Ahmed</span>
    </div>
  </footer>