<div class="hero overflow-hidden h-[50vh] bg-[#ff0000] mx-6 flex flex-col sm:flex-row ">
    <div class="titolo pl-5 text-white text-[80px] sm:text-[100px] ">
        <h1><span class="oro">M</span>ARVEL</h1>
        <h1><span class="oro">C</span>INEMATIC</h1>
        <h1><span class="oro">U</span>NIVERSE</h1>
    </div>
    <h1 class="pl-5 text-white sm:text-3xl sm:pt-4 sm:pl-6">Il Marvel Cinematic Universe (MCU) è una serie di film, programmi televisivi e altri media basati sui personaggi dei fumetti della Marvel Comics.</h1> 
</div>