{% load static %}
{% for fase in fasi %}

    <h1 class="text-2xl mt-4 pl-6" >Fase  {{ forloop.counter }}</h1>
    <div class="slider-container flex flex-row relative w-full h-[450px] overflow-hidden">
        <!-- <div id="slider" class="transition-[0.3s] h-[400px] duration-500 flex absolute top-0 left-0 px-4 py-6 w-auto gap-4 "> -->
        <div class="slider transition-[0.3s] duration-500 flex absolute top-0 left-0 px-4 py-6 w-auto gap-2 ">
            {% for f in fase %}
                <div class="slide mx-auto flex flex-col px-5 py-12 h-[450px] w-[250px]">
                    <a href="{{ f.get_absolute_url }}">
                        <h4>{{ f.nome|linebreaksbr|truncatechars:19 }}</h4>
                        {% if f.img.url %}
                            <img class="overflow-hidden rounded-md" src="{{ f.img.url }}" alt="immagine {{ f.nome }}">
                    
                        {% else %}
                        <img class=" object-cover rounded-md h-[300px] w-[200px] " src="{% static 'media/image/notfound.jpg' %}" alt="immagine: {{ f.nome }}"  >>
                        {% endif %}
                    

                    </a>
                    
                    
                    {% for protagonista in f.protagonisti.all %}
                        {% if forloop.counter < 2 %}
                            <p class="mt-1 text-sm text-gray-500">{{ protagonista }}</p>
                        {% endif %}
                    {% endfor %}
                    <a href="{{ f.get_absolute_url }}#protagonisti"><p>altri.....</p></a>
                    
                </div>
                
            {% endfor %}
        
        </div>
        <button  class="prev-button absolute text-8xl text-red-300 translate-y-[-50%] top-[40%] left-2"><</button>
        <button  class="next-button absolute text-8xl text-red-300 translate-y-[-50%] top-[40%] right-2">></button>

    </div>

{% endfor %}


   




   
